#heading-block h2{
  line-height: 35px;
  border-left:20px solid rgb(196, 155, 102); 
  margin-left: 200px;
  margin-top: 50px;
}
.btn{ 
  background-color: #c0c0c0;
  opacity:0.5;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}
.search-area2{ 
  background: #fff; 
  margin-top: 10px;
  border: none;
  border-radius: 10px; 
  padding-left: 15px;
}
#profile{
  width:100%;
  font-size: 30px;
  max-width: 100%;
  margin-top: 50px;
  margin-left: 720px;
  
   
  float: left;
  text-align: left;
  font-family: OCR A Std, monospace;
}

#note a{
  font-size: 20px;
  color:rgb(192, 70, 39);
}