@media screen and (max-width:1280px){

}
@media screen and (max-width:1024px){
  
}
@media screen and (max-width:768px){
  
}
@media screen and (max-width:480px){
  
}
@media screen and (max-width:375px){
    #subheader p{ display: none;
    }
    #subheader a{
        float:right;
        color:#fff;
        text-decoration: none;
        margin-left: 20px;
      }
    .search-area{
        width:200px;
    }
    .search-btn{
        width:80px;
        margin-left: -40.5px;
    }
    #login-menu{
        float:left;
        margin-top:20px;
    }
    #login-menu li{
        font-size: 20px;
    }
    #login-menu li:hover{
        font-size: 25px;
        transition: :all .5s ease;
    }
    nav a{
        margin-left: 5px;
        color:white;
        text-decoration: none;
    }
    #footer{
        width:100%;
        height: 600px;
        background: rgba(125, 133, 21, 0.884);
        float: left;
        margin-top: 150px;
    } 
    /*fotter sub 1*/
    .footer_sub{
        margin-top: 10px;
        width: 80%;
    } 
    /*fotter sub 2*/
    .footer_sub_2{
        margin-top: 10px;
        width: 80%;
    }
    .footer_sub_2 ul li{
        list-style: none;
        margin-left:0px;
        margin-top:0px;
        text-align: left;
    }
    /*fotter sub 3*/
    .footer_sub_3{
        margin-top: 0px;
        margin-left: 0px;
        width: 25%;
        float: left;
        text-align: left;
        font-family: OCR A Std, monospace;
    }
}

@media screen and (max-width:414px){
    #subheader p{ display: none;
    }
    #subheader a{
        float:right;
        color:#fff;
        text-decoration: none;
        margin-left: 20px;
      }
    .search-area{
        width:200px;
    }
    .search-btn2{
        width:80px;
        margin-left: 130.5px;
    }
    #login-menu{
        float:left;
        margin-top:20px;
    }
    #login-menu li{
        font-size: 20px;
    }
    #login-menu li:hover{
        font-size: 25px;
        transition: :all .5s ease;
    }
    #nevigation{
        height:50px;
    }
    nav{
        width:414px;
      }
    nav a{
        margin-left: 10px;
        color:white;
        text-decoration: none;
        word-wrap:break-word; 
    }
    #footer{
        width:100%;
        height: 1000px;
        background: rgba(125, 133, 21, 0.884);
        float: left;
        margin-top: 150px;
    } 
    /*fotter sub 1*/
    .footer_sub{
        margin-top: 10px;
        width: 80%;
        margin-left:18px;
    } 
    /*fotter sub 2*/
    .footer_sub_2{
        margin-top: 10px;
        width: 80%;
        float: left;
        margin-left:-40px;
    }
    .footer_sub_2 ul li{
        list-style: none;
        margin-left:100px;
        margin-top:0px;
        text-align: left;
    }
    /*fotter sub 3*/
    .footer_sub_3{
        margin-top: 0px;
        margin-left: 30px;
        width: 25%;
        text-align: left;
        float: left;
        font-family: OCR A Std, monospace;
    }
    .container.bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg{
        display: none;
    }

}