
  /*==============category heading========*/
#heading-block{
  margin-top: 25px;
  width:100%;
  color:rgb(196, 155, 102);
  font-size: 22px;
}
#heading-block h2{
  line-height: 35px;
  border-left:20px solid rgb(196, 155, 102);
  padding-left: 10px;
}
/*this is for products styling*/
.prod-box{
  margin-top: 40px;
  width:500px;
  height: 600px;
  overflow: hidden;
  margin-left: 100px;
  margin-right: 18px;
  position: relative;
  float: left;
}
.prod-box>img{
  max-width: 100%;
}
.prod-trans{
  background: rgba(0,0,0,0.6);
  width:100%;
  height: 100%;
  top:0;
  left:0;
  bottom:0;
  right:0;
  position: absolute;
  opacity: 0;
  transition: all .5s ease;
}
.prod-box:hover .prod-trans{
  opacity: 1;
  transition: all .5s ease;
}
.prod-feature{
  text-align: center;
  margin-bottom:20px;
  margin-top:-100px;
  transition: all .5s ease;
  font-size: 40px;
}
.prod-feature p{
  color:rgba(234,211,181);
  font-family: Verdana, sans-serif;
}
.prod-box:hover .prod-feature{
  margin-top: 120px;
  transition: all .5s ease;
}



















