#wrapper{
  font-family: tahoma;
}
.container{
  width:90%;
  margin:0 auto;
}
#subheader{
  width:100%;
  height:55px;
  background:black;
  color:#fff;
  margin-top:-15px;
}

#subheader p{
  float:left;
  margin-top:10px;
  font-family: Poppins-Regular;
  font-size: 16px;
  line-height: 1.8;
  color: #b2b2b2;
}

#subheader a{
  float:right;
  color:#fff;
  text-decoration: none;
  margin-left: 30px;
  font-family: Poppins-Regular;
  margin-top:10px;
  font-size: 15px;
  height: 100%;
  color: #b2b2b2;
  border-right: 1px solid rgba(255,255,255,0.3);
  line-height: 2.5;
}
/*logo styling*/
#main-header{
  width:100%;
  height:100%;
  background:rgb(234,211,181);
  float:left;
}
#logo{
  width:200px;
  height:150px;
  margin-left:50px;
  float:left;
}
#ist{
  color:black;
  font-size:45px;
  font-weight:bold;
  margin-left:15px;
  font-family:cursive;
}
#iist{
  color:black;
  font-size:35px;
  font-weight:bold;
  font-family:cursive;
}
/*sezrching area styling*/
#search{
  width:650px;
  float:left;
  padding:20px;
  margin-left:50px;
}
.search-area{
  width:650px;
  height:50px;
  background: #fff;
  border: none;
  border-radius: 10px;
  float:left;
  padding-left: 15px;
}
.search-btn{
  width:100px;
  height:52px;
  border-radius: 10px;
  border: none;
  color:#fff;
  background: brown;
  margin-left:  -100.5px;
  position:absolute;
}

/*this is for cart.html*/
.search-btn2{
  width:100px;
  height:52px;
  border-radius: 10px;
  border: none;
  color:#fff;
  background: brown;
  margin-left:  550.5px;
  position:absolute;
}
/*this is for user menu styling*/
#user-menu{
  width:300px;
  float:right;
  margin-top:20px;
}

/*this is for list styling*/
#user-menu li{
  float:left;
  width:140px;
  text-align: center;
  list-style: none;
  font-size: 25px;
  border-left: 1px solid black;
}
#user-menu li:hover{
  font-size: 30px;
  transition: :all .5s ease;
}
/*********************************************************************************************************/
html.can-touch #user-menu li:hover{ /* disable hover effect when input is touch */
	transition: none;
}

#user-menu li a{
  color:white;
  text-decoration: none;
}

/*this is for user login styling*/
#login-menu{
  width:300px;
  float:right;
  margin-top:20px;
}


/*this is for login list*/
#login-menu li{
  float:left;
  width:140px;
  text-align: center;
  list-style: none;
  font-size: 25px;
}
#login-menu li:hover{
  font-size: 30px;
  transition: :all .5s ease;
}
#login-menu li a{
  color:rgb(24, 7, 7);
  text-decoration: none;
}

/*the style for cart.html's nevigation bar*/
#nevigation2{
  width:100%;
  height:60px;
  background: rgb(234,211,181);
  float: left;
  box-shadow: 10px 14px 50px 2px rgb(234,211,181);
  margin-bottom: 35px;
}

/*the style for nevigation bar*/
#nevigation{
  width:100%;
  height:35px;
  background: rgb(234,211,181);
  float: left;
  box-shadow: 10px 14px 50px 2px rgb(234,211,181);
}
nav{
  width:1280px;
  margin:0 auto;
}
nav a{
  margin-left: 35px;
  color:black;
  text-decoration: none;
} 
nav a:hover{
  color:yellow;
  transition: :all .7s ease;
  text-decoration: none;
} 
/*------slider------*/
#slider{
  width:100%;
  max-width: 100%;
  float:left;
}

/*------men women product label------*/
#label-container{
  margin-left: 25px;
  margin-top: 25px;
}
/*==============category heading========*/
#heading-block{
  margin-top: 25px;
  width:100%;
  height: auto;
  float:left;
  color:rgb(196, 155, 102);
  font-size: 22px;
}
#heading-block h2{
  line-height: 35px;
  border-left:20px solid rgb(196, 155, 102);
  padding-left: 10px;
}
/*#heading-block h2 {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count:infinite;
}

@keyframes slidein {
  from {
    padding-left: 100%;
    width: 300%;
  }

  to {
    padding-left: 0%;
    width: 100%;
  }
}*/
/*==============category boxes========*/
.catbox{
  margin-top: 25px;
  width:235px;
  height: 235px;
  float: left;
  overflow:hidden;
  position: relative;
  margin-left: 30px;
  margin-right: 15px;
}
.catbox span{
  width:100%;
  height: 35px;
  line-height: 35px;
  background: rgba(0,0,0,0.6);
  color: white;
  display: block;
  bottom: 30px;
  position: absolute;
  z-index: 999;
  text-align: center;
  font-family:Jazz LET, fantasy;
}
.catbox:hover span{
  color:rgb(234,211,181);
}
.catbox img{
  max-width: 100%;
  transition: all .5s ease;
}
.catbox:hover img{
  transform: scale(1.3,1.3);
  transition: all .5s ease;
}
/*this is for products styling*/
.prod-box{
  margin-top: 25px;
  width:235px;
  height: 300px;
  overflow: hidden;
  margin-left: 30px;
  margin-right: 18px;
  position: relative;
  float: left;
}
.prod-box>img{
  max-width: 100%;
}
.prod-trans{
  background: rgba(0,0,0,0.6);
  width:100%;
  height: 100%;
  top:0;
  left:0;
  bottom:0;
  right:0;
  position: absolute;
  opacity: 0;
  transition: all .5s ease;
}
.prod-box:hover .prod-trans{
  opacity: 1;
  transition: all .5s ease;
}
.prod-feature{
  text-align: center;
  margin-top:-150px;
  transition: all .5s ease;
}
.prod-feature p{
  color:rgb(234,211,181);
  font-family: Verdana, sans-serif;
}
.prod-box:hover .prod-feature{
  margin-top: 120px;
  transition: all .5s ease;
}
#footer{
  width:100%;
  height: 300px;
  background: rgba(125, 133, 21, 0.884);
  float: left;
  margin-top: 150px;
} 
/*fotter sub 1*/
.footer_sub{
  margin-top: 10px;
  width: 25%;
  float: left;
  font-family: OCR A Std, monospace;
}
.footer_sub h2{
  font-weight:bold;
  color: black;
}
.footer_sub p{
  color: #fff;
}
/*fotter sub 2*/
.footer_sub_2{
  margin-top: 10px;
  width: 25%;
  float: left;
  text-align: left;
  font-family: OCR A Std, monospace;
}
.footer_sub_2 h2{
  font-weight:bold;
  color: black;
}
.footer_sub_2 ul li{
  list-style: none;
  margin-top:20px;
  margin-left:70px;
  text-align: left;
}
.footer_sub_2 ul li a{
  text-decoration: none;
  color: papayawhip;
}
.footer_sub_2 ul li a:hover{
  color: plum;
  text-decoration: underline;
}
/*fotter sub 3*/
.footer_sub_3{
  margin-top: 230px;
  margin-left: 235px;
  width: 25%;
  float: left;
  text-align: left;
  font-family: OCR A Std, monospace;
}
.footer_sub_3 h2{
  font-weight:bold;
  color: black;
}
.footer_sub_3 ul li{
  list-style: none;
  margin-top:20px;
}
.footer_sub_3 ul li a{
  text-decoration: none;
  color: papayawhip;
}
.footer_sub_3 ul li a:hover{
  color: plum;
  text-decoration: underline;
}
/*********************************************************************************************************/
html.can-touch .footer_sub_3 ul li a:hover{ /* disable hover effect when input is touch */
	color: none;
}






























